<h1> {{ today | date }}</h1>
<mat-spinner *ngIf="!(winnerName$ | async)"></mat-spinner>

<div *ngIf="!!(winnerName$ | async)">
  <p>
    Celui qui a la plus grosse est <strong>{{ winnerName$ | async }}</strong>, avec un impressionnant score de <strong>{{winnerScore$ | async | number }}</strong> en {{ gameType$ | async }}.
  </p>

  <p>
    Son pauvre frère {{ looserName$ | async }} n'atteint que difficilement le score de {{ looserScore$ | async | number }}, ce qui le place {{ diff$ | async | number }} points derrière.
  </p>
</div>
